@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}

@keyframes bfadein {
    from {opacity: 0; left: 50%; right: 50%;}
    to   {opacity: 1; left: 10%; right: 10%;}
}

html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    overflow: auto;
    height: 100%;
    font-size: 3vmin;
}

.name-box-container {
    position: fixed;
    top: 0px;
    left: 10%;
    right: 10%;
    z-index: 10;
}

.name-box-opague {
    background-color: white;
    width: 100%;
}

.name-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3em;
    width: 100%;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1s;
}

.name-box-border {
    height: 0.1em;
    background-color: lightgrey;
    opacity: 0;
    animation: bfadein 1s ease-in-out 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    width: 100%;
}

.name-box-shadow {
    width: 100%;
    height: 3em;
}

.layout {
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
    padding-top: 11em;
}

.contact-bar {
    padding-top: 1em;
    height: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.contact-info-container {
    width: 50%;
}

@keyframes email-fadein {
    from { opacity: 0; margin-left: -2em; }
    to   { opacity: 1; margin-left: 0; }
}

.contact-email {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    top: 0.5em;
    opacity: 0;

    animation: email-fadein 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;
}

@keyframes icons-fadein {
    from { opacity: 0; margin-right: -2em; }
    to   { opacity: 1; margin-right: 0; }
}

.contact-icons {
    color: lightgrey;
    font-size: 3em;
    text-align: right;
    opacity: 0;
    animation: icons-fadein 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;
}

.contact-link {
    color: grey;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.content-title {
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.5em;
}

.content-title#about-title {
    margin-bottom: 0.5em;
}

.content-bar {
    margin-top: 1em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    opacity: 0;
    width: 100%;
}

.content-bar#about {
    animation: fadein 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;
}

.content-bar#projects {
    animation: fadein 1s ease-in-out 1.75s;
    animation-fill-mode: forwards;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3em;
    align-items: stretch;
    margin-top: 1em;
}

.project-title {
    color: black;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
}

.project-desc {
    color: grey;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
}

.project-img {
    margin-left: auto;
    height: 100%;
}
