html
    head
        include incl/head.pug
    body(onload='onLoad()')
        div(class='name-box-container')
            div(id='name-box-opague')
                div(class='name-box') Justin Stanley
                div(class='name-box-border')
                div(class='contact-bar')
                    div(class='contact-info-container')
                        div(class='contact-email')
                            a(href='mailto:jtst@mail.codeandkey.net' class='contact-link') jtst@mail.codeandkey.net
                    div(class='contact-info-container')
                        div(class='contact-icons')
                            a(href='https://github.com/codeandkey')
                                i(class='fab fa-github' style='padding-left: 0.5em; color: grey;')
                            a(href='https://www.linkedin.com/in/justin-stanley-99899b18a')
                                i(class='fab fa-linkedin' style='padding-left: 0.5em; color: grey;')
            div(id='name-box-shadow')
                img(src='/img/shadow.png' width='100%' height='100%')
        div(class='layout')
            div(class='content-container')
                div(class='content-bar' id='about')
                    div(class='content-title' id='about-title') about
                    p Software Engineer at VES LLC. Academic background in mathmatics and computer science. Lifelong electronics and computing enthusiast.
                div(class='content-bar' id='projects')
                    div(class='content-title') projects
                    a(class='project' id='neocortex' href='https://github.com/codeandkey/neocortex')
                        div(class='project-info')
                            div(class='project-title') neocortex
                            div(class='project-desc') a lightweight parallel chess engine
                        img(src='/img/neocortex.jpg' class='project-img')
                    a(class='project' id='mtest' href='https://github.com/codeandkey/mtest')
                        div(class='project-info')
                            div(class='project-title') mtest
                            div(class='project-desc') a minimal C++ testing framework
                        img(src='/img/mtest.jpg' class='project-img')
                    a(class='project' id='mii' href='https://github.com/codeandkey/mii')
                        div(class='project-info')
                            div(class='project-title') mii
                            div(class='project-desc') an integrated search engine for HPC modules
                        img(src='/img/mii.jpg' class='project-img')
                    a(class='project' id='boom' href='https://github.com/codeandkey/boom')
                        div(class='project-info')
                            div(class='project-title') boom
                            div(class='project-desc') a 2D platforming game
                        img(src='/img/boom.jpg' class='project-img')
